<app-breadcrumbpage></app-breadcrumbpage>

<!--section-->
<section class="section is-paddingless-horizontal" style="padding-top: 0;">
  <div class="container grid" style="max-width: 1024px;">

    <app-photo-mediapage></app-photo-mediapage>

    <div class="section is-paddingless-horizontal">
      <h1 class="title is-2">How to build a beautiful blog</h1>
      <h2 class="subtitle is-3">Learn from first-principles</h2>
    </div>

    <app-imagecardpage></app-imagecardpage>

    <figcaption class="level">
      <small class="level-item has-text-grey">
        The blog we'll build. Click to continue on Scrimba
      </small>
    </figcaption>

    <app-contentpage></app-contentpage>

  </div>
</section>
<!--section-->











