<figure class="columns is-mobile is-variable is-0 is-marginless grid-xl">
  <div class="column">
    <div class="image card">
      <a><img src="https://cdn-images-1.medium.com/max/800/1*_L60Gs-iTza_LnBdwqzEiA.png"></a>
    </div>
  </div>
  <div class="column">
    <div class="image card">
      <a><img src="https://cdn-images-1.medium.com/max/800/1*t929RLZ28EvUsc5f3Hbh8Q.png"></a>
    </div>
  </div>
  <div class="column">
    <div class="image card">
      <a><img src="https://cdn-images-1.medium.com/max/800/1*8xYM6BQXa7HNpMd2XMD5Lw.png"></a>
    </div>
  </div>
</figure>
