<app-pages></app-pages>

<section class="section is-paddingless-horizontal" style="padding-top: 0;">
  <div class="container grid" style="max-width: 1024px;">

    <app-photo-media></app-photo-media>

    <div class="section is-paddingless-horizontal">
      <h1 class="title is-2">
        How to build a beautiful blog
      </h1>
      <h2 class="subtitle is-3 has-text-grey-light">
        Learn from first-principles
      </h2>
    </div>

    <app-imagecard></app-imagecard>

    <figcaption class="level">
      <small class="level-item has-text-grey">
        The blog we'll build. Click to continue on Scrimba
      </small>
    </figcaption>

    <app-content></app-content>

 </div>
</section>

