<article class="media center">
  <figure class="media-left">
						<span class="image is-64x64">
							<ng-content select="photo-media-img"></ng-content>
						</span>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>
          <ng-content select="photo-media-title"></ng-content>
        </strong>
         <a>
           <ng-content select="photo-media-username"></ng-content>
         </a><br>
        <span class="has-text-grey">
          <ng-content select="photo-media-content"></ng-content><br>
					<ng-content select="photo-media-footer"></ng-content>
        </span>
      </p>
    </div>
  </div>
</article>

