<app-content>
  <content-p1>
    If you’re like me, you’re interested in the web and its overwhelming reach, but you’re also inundated with the mess of information that is learning HTML and CSS.
    The thing is, these languages are unlike other domains, like Word Processors and Programming Languages.
    <strong>The web is another world</strong>, and it’s not the prettiest thing around.
  </content-p1>
  <content-p2>
  Having learned me some web, I’m here to give a gentle push of encouragement, because, <strong>with a little guidance</strong>, these domains can be a lot easier than you imagine.
  Continue reading, and we’ll build a beautiful blog from scratch.
  We’ll also learn some CSS Grid, Flexbox, and Responsive Design.
  </content-p2>
</app-content>
